body {
	margin: 0 auto 0 auto; /*or 20px auto*/
	width: 600px; /*or max-width: 700px with width: 80% for when it shrinks;*/
	border: 20px solid #bdc3c7;
	padding: 20px;

}
h5 {
	font-family: 'Source Sans Pro', sans-serif; /*apply font-family to body so everything inherits it*/
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 3px; /*or 0.2rem which is relative to the root element and will increase it by 0,2*/
}
h2 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2c3350;
	font-weight: 900; 
	/*or font-size: 2.0rem;*/
}
.first {
	border-left: 4px solid #bdc3c7;
	padding-left: 4px;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 4px;
}

hr {
	width: 1px #3498db;
}